body {
    background: linear-gradient(to bottom, rgb(218, 218, 218), rgb(155, 155, 155));
    color: rgb(0, 0, 0);
    font-size: 12pt;
    font-family: Arial;
}


body 
{
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.download-section {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}